
<h1>Submit your new link here!</h1>

<%= form_for(@link) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.submit "Submit" %>
<% end %>
<br/>
<br/>
<br/>
<br/>
<h1>All of the links belonging to <%= current_user.email %>!</h1>

<% @links.each do |link| %>
  <%= link.title %> -
  <%= link_to link.url, "#{link.url}" %> -
  <% if link.read %>
    <%= link_to "Mark as Unread", link_path(link, link: {read: false}), method: :patch, class: :read %>
  <% else %>
    <%= link_to "Mark as Read", link_path(link, link: {read: true}), method: :patch, class: :unread %>
  <% end %>
  <br/>
<% end %>
