<h3>Submit your new link here!</h3>

<%= render partial: "/partials/link_form" %>

<br/>
<br/>
<br/>
<br/>

<h3>All of the links belonging to <%= current_user.email %>!</h3>

<% @links.each do |link| %>
  <%= link.title %> -
  <%= link_to link.url, "#{link.url}" %> -
  <% if link.read %>
    <%= link_to "Mark as Unread", link_path(link, link: {read: false}), method: :patch, class: :read %>
  <% else %>
    <%= link_to "Mark as Read", link_path(link, link: {read: true}), method: :patch, class: :unread %>
  <% end %> -
  <%= link_to "Edit", edit_link_path(link) %>
  <br/>
<% end %>
